//公共样式

.main-content {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100% - $breadcrumbHeight) !important;
    width: 100%;
}

//search
.search-row {
    width: 100%;

    .el-col {
        display: flex;
        margin-bottom: 20px;

        &:first-child .search-label {
            text-align: left;
        }

        .search-label {
            // min-width: 40px;
            white-space: nowrap;
            // padding-right: 5px;
            line-height: 32px;
        }

        .el-select {
            width: 100%;
            padding-right: 40px;

            .el-input {
                padding-right: 0 !important;
            }
        }

        .el-input {
            padding-right: 20px;
        }

        .el-date-editor {
            margin-right: 20px;
            padding: 0 0 0 10px;
        }
    }
}

.search-checkbox {
    color: #000;
}

//通用table
.table.el-table {

    .el-table__header {
        height: 44px;

        .el-table__cell,
        .el-table__cell,
        .is-first-column {
            background: #F2F3F5 !important;
            color: #000;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .el-table__row {
        height: 44px;
        font-size: 14px;
        color: #000;
    }

    //cell自带8px
    thead tr th:first-child,
    tr td:first-child {
        padding-left: 16px;
    }

    thead tr th:last-child,
    tr td:last-child {
        padding-right: 16px;
    }

    tr:hover>td {
        background-color: #F2F3F5 !important;
    }

}

//通用分页
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: right;

    .number:not(.is-active),
    .more {
        background: #fff !important;
        border: 1px solid #DCDCDC;
    }

    .btn-next,
    .btn-prev {
        background: #fff !important;
    }
}

//Dialog
.dialog.el-dialog {
    position: relative;
    overflow: hidden;

    .el-dialog__body {
        padding: 14px 24px 0 24px;
        overflow-y: initial;
    }

    .el-dialog__title {
        font-size: 16px;
        font-weight: 500;
        color: #333333;
    }

    .dialog-content {
        box-sizing: border-box;
        overflow-y: auto;
        padding-bottom: 66px;
    }
}

.dialog-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    // border-top: 1px solid #e6e6e6;
    padding: 10px 24px 24px 10px;
    background: #fff;
    z-index: 10;
    box-sizing: border-box;

    .el-button+.el-button {
        margin-left: 16px;
    }
}

:deep(.el-dialog__header) {
    border-bottom: 1px solid #e6e6e6;
}

.el-dialog__body {
    padding: 20px;
    // position: relative;
    max-height: 60vh;
    overflow-y: auto;
}

.el-card__body {
    height: 100%;
}

// .area_popper {
//     background: url('@/assets/img/screen-bg.png') 100% 100% !important;
// }