/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4026808 */
  src: url('//at.alicdn.com/t/c/font_4026808_3s7qs7y75z7.woff2?t=1681981015834') format('woff2'),
       url('//at.alicdn.com/t/c/font_4026808_3s7qs7y75z7.woff?t=1681981015834') format('woff'),
       url('//at.alicdn.com/t/c/font_4026808_3s7qs7y75z7.ttf?t=1681981015834') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//消息
.icon-message::before {
  content: "\e79b";
}
//下拉
.icon-dropdown::before {
  content: "\e795";
}
//收起导航
.icon-putaway::before {
  content: "\e797";
}
//展开导航
.icon-expand::before {
  content: "\e79a";
}

//首页
.icon-home::before {
  content: "\e794";
}
//地图展示
.icon-map::before {
  content: "\e798";
}
//统计分析
.icon-statistics::before {
  content: "\e79c";
}
//设备管理
.icon-device::before {
  content: "\e793";
}
//告警管理
.icon-alert::before {
  content: "\e799";
}
//历史数据
.icon-history::before {
  content: "\e791";
}
//标记管理
.icon-sign::before {
  content: "\e792";
}
//用户中心
.icon-user::before {
  content: "\e792";
}
//权限管理
.icon-root::before {
  content: "\e792";
}