$mainColor: #E60044;
$placeholderColor: #B5B5B5;
$labelColor: #848484;
$valueColor: #333333;

// status 组件库规定
$draft: #495D77;
$ongoing: #FD6F00;
$past: #6Fcc0A;
$pass: #F2270B;
$null: #9D9D9D;

$asideWidth: 200px;
$headerHeight: 60px;
