.el-card{
    --el-card-padding: 24px !important;
}

$mainColor: #2D8CF0;
$placeholderColor: #B5B5B5;
$labelColor: #848484;
$valueColor: #333333;

// status 组件库规定
$draft: #495D77;
$ongoing: #FD6F00;
$past: #6Fcc0A;
$pass: #F2270B;
$null: #9D9D9D;

$containerSpace:20px;
$breadcrumbHeight: 40px;
$asideWidth: 232px;
$asideCollapseWidth: 60px;
$headerHeight: 64px;
$contentBackgroundColor: #EEEEEE;
$asideColor: #333333;
$asideActiveBackground: #ECF2FE;
